.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 2rem;
}

.btn-new {
  font-size: 1.6rem;
  margin: 2rem;
  border-radius: 1rem;
  min-height: 22rem;
}

@media only screen and (min-width: 560px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1268px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
